@font-face {
    font-family: "RobotoBlack";
    src: url(../fonts/Roboto-Light.ttf) format("truetype");
}

body {
    margin: 0%;
    background: #0000ff;
}

h1 {
    font-size: 6em;
    font-family: "RobotoBlack", sans-serif;
}