@font-face {
    font-family: "RobotoBlack";
    src: url(../fonts/Roboto-ThinItalic.ttf) format("truetype");
}

body {
    margin: 0%;
    /* background: #0000ff; */
}

h1 {
    font-size: 6em;
    font-family: "RobotoBlack", sans-serif;
}

/* setting background colors with different elements */
/* test div*/
.test{
    background-color: #00ffff;
}
/* testTwo div*/
.testTwo{}
/* testThree div*/
.testThree{}
/* testFour div*/
.testFour{}